/************************************************************
**************** FORMATAÇÂO GERAL ***************************
*************************************************************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-principal: #51ED37;
    --sombra: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

@font-face {
    font-family: 'Poppins Light';
    src: url(../font/Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(../font/Poppins/Poppins-Bold.ttf) format('truetype');
}

body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgba(0, 0, 0, 0.671);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
    border-radius: 30px;
}

::-moz-selection {
    background: purple;
}

::selection {
    background: var(--cor-principal);
    color: #0c0c0c;
}

body {
    height: 3000px;
    font-family: 'Poppins Light', Arial, sans-serif;
    background: #1e1e1e;
    overflow-x: hidden;
}

.secoes {
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sub-secoes {
    color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.barrinha {
    width: 30px;
    height: 3px;
    background: var(--cor-principal);
    border-radius: 500px;
}

/************************************************************
**************** FORMATAÇÂO DO CABEÇALHO ********************
*************************************************************/

#cabecalho {
    height: auto;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 3;

    #menu-button {
        float: right;
        font-size: 20px;
        padding: 5px 10px;
        margin: 5px;
        box-shadow: 0px 0px 4px rgb(0, 0, 0);
        background: var(--cor-principal);
        border-radius: 10px;
        border: none;
        outline: none;

    }

    #nav {
        a {
            font-size: 0.8em;
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
                color: var(--cor-principal);
                transition: 0.2s;
            }
        }

        #navbar {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .navbar-item {
                margin: 15px 30px 20px 10px;
            }
        }
    }
}


@media (min-width: 599.98px) {
    #menu-button {
        display: none;
    }
}

/************************************************************
**************** FORMATAÇÂO DO MENU LATERAL *****************
*************************************************************/
#conteudo {
    #redes-sociais {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        width: clamp(10px, 10%, 140px);
        height: 100%;
        z-index: 2;

        #nav-lateral {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 250px;
            width: 60px;
            background: var(--cor-principal);
            box-shadow: var(--sombra);
            border-radius: 500px;
            transform: scale(0.85);
            transition: 0.3s;
            text-align: center;

            &:hover {
                transform: scale(0.9);
            }

            li {
                a {
                    i {
                        font-size: 40px;
                        color: rgb(0, 0, 0);
                        margin: 12px auto;
                    }

                    .fa-instagram {
                        &:hover {
                            color: #E1306C;
                            text-shadow: 0px 0px 2px #E1306C,
                                0px 0px 4px #C13584,
                                0px 0px 6px #833ab4;
                        }
                    }

                    .fa-linkedin-in {
                        &:hover {
                            color: #0a66c2;
                            text-shadow: 0px 0px 4px #0073e6,
                                0px 0px 6px #8d6cab;
                        }
                    }

                    .fa-github {
                        &:hover {
                            color: #333;
                            text-shadow: 0px 0px 4px #362a49,
                                0px 0px 6px #1c1525;
                        }
                    }
                }
            }
        }
    }
}


/************************************************************
**************** FORMATAÇÂO DO HOME *************************
*************************************************************/

#imagem-principal {
    background: url("../img/971.jpg") center center/cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    div {
        width: clamp(100px, 90%, 600px);
        padding: 30px;
        border-radius: 20px;
        color: #fff;
        margin-left: 10%;
        margin-right: 10%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: 10px 5px 20px 2px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease;

        &:hover {
            transform: translateY(-12px);
        }

        #nome {
            color: var(--cor-principal);
            font-family: 'Poppins Bold', sans-serif;
        }

        h1 {
            margin: 10px 0px;
            font-size: 1.7em;
        }

        a {
            background-color: var(--cor-principal);
            color: rgb(0, 0, 0);
            width: max-content;
            padding: 8px 60px;
            display: block;
            border-radius: 500px;
            font-weight: bold;
            transition: 0.3s ease;

            &:hover {
                background-color: #000000;
                color: var(--cor-principal);
            }
        }

        p {
            margin: 10px 0px;
        }
    }
}

/************************************************************
**************** FORMATAÇÂO DO SOBRE *************************
*************************************************************/

#sobre {
    background: #00000005;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    #sobre-principal {
        width: clamp(300px, 80%, 1900px);
        display: flex;
        flex-direction: column;
        align-items: center;

        #sobre-informacoes {
            display: flex;
            flex-direction: row;
            width: 90%;

            .sobre-imagem {
                margin: 0px 10px 20px 0px;
                display: flex;
                justify-content: center;
                align-items: center;

                .imagem {
                    width: 150px;
                    height: 150px;
                    background: url(../img/foto-perfil.jpg) center center/cover;
                    box-shadow: var(--sombra);
                    border-radius: 500px;
                }
            }

            .sobre-texto {
                margin-right: 5%;
                padding: 30px;
                border-radius: 20px;
                color: #fff;
                margin-right: 5%;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: var(--sombra);
                transition: 0.3s ease;
            }
        }
    }

}

#skills {
    background: #00000005;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    #skills-principal {
        width: clamp(300px, 80%, 1900px);
        display: flex;
        flex-direction: column;
        align-items: center;

        .icones {
            font-size: 35px;
            color: var(--cor-principal);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 70%;

            .linguagens {
                background-color: #101010;
                height: 100px;
                width: 100px;
                margin: 10px;
                border-radius: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: var(--sombra);
                border: 1px solid #0e0e0e;

                &:hover{
                    outline: 3px solid var(--cor-principal);
                    transform: translateY(-10%);
                }
            }           
        }
    }
}


@media only screen and (max-width: 1000px) {
    #sobre {
        height: auto;

        #sobre-principal {

            #sobre-informacoes {
                display: block;
                justify-content: center;
                width: 100%;
            }
        }
    }
}

/************************************************************
**************** FORMATAÇÂO DOS PROJETOS *************************
*************************************************************/

#projetos {
    background: #00000005;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    #projetos-principal {
        width: clamp(300px, 80%, 1900px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#contato {
    background: #00000005;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    
    #contato-principal {
        width: clamp(300px, 80%, 1900px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Animação scroll load */
.hidden {
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s ease;
}

.show {
    opacity: 1;
    transform: translateX(0);
}